USE [ETRADE]
GO
/****** Object:  Trigger [dbo].[TRG_ITEMS_DELETE_UPDATE_INSTEADOF]    Script Date: 20.11.2023 17:10:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TRG_ITEMS_DELETE_UPDATE_INSTEADOF]
ON [dbo].[ITEMS]
INSTEAD OF DELETE,UPDATE
AS 
BEGIN
DECLARE @DELETEDCOUNT AS INT
DECLARE @INSERTEDCOUNT AS INT

SELECT @DELETEDCOUNT = COUNT(*) FROM DELETED
SELECT @INSERTEDCOUNT = COUNT(*) FROM INSERTED

DECLARE @LOG_ACTIONTYPE AS VARCHAR(20)

IF @DELETEDCOUNT>0 OR @INSERTEDCOUNT>0
	SET @LOG_ACTIONTYPE = 'UPDATE'

IF @DELETEDCOUNT>0 AND @INSERTEDCOUNT=0
	SET @LOG_ACTIONTYPE = 'DELETE'

IF @DELETEDCOUNT=0 AND @INSERTEDCOUNT>0
	SET @LOG_ACTIONTYPE = 'INSERT'



INSERT INTO ITEMS_LOG
([ITEMCODE],[ITEMNAME],[UNITPRICE],[CATEGORY1],[CATEGORY2],[CATEGORY3],[CATEGORY4],[BRAND],[LOG_ACTIONTYPE],[LOG_DATE],[LOG_USERNAME],[LOG_PROGRAMNAME],[LOG_HOSTNAME])

SELECT [ITEMCODE], [ITEMNAME], [UNITPRICE], [CATEGORY1], [CATEGORY2], [CATEGORY3], [CATEGORY4], [BRAND],@LOG_ACTIONTYPE,GETDATE(),SUSER_NAME(),PROGRAM_NAME(),HOST_NAME()

FROM DELETED

END	

